<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>Welcome to Microblog!</title>
        {% endif %}
    </head>
    <body>

        <div>
        Microblog: 
        <a href="{{ url_for('index') }}">index.html</a>
        &nbsp; <!-- add space between links -->
        <a href="{{ url_for('explore') }}">explore.html</a>
         &nbsp; <!-- add space between links -->

        {# is_anonymous property is one of the attributes that Flask-Login adds to user objects through the UserMixin class #}
        {% if current_user.is_anonymous %} 
        <a href="{{ url_for('login') }}">login.html</a>
        &nbsp; <!-- add space between links -->
        {% else %}
        <a href="{{ url_for('user', username=current_user.username) }}">user.html</a>
        &nbsp; <!-- add space between links -->
        <a href="{{ url_for('logout') }}">logout.html</a> 
        {% endif %}    

        </div>

        <hr>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block index_content_block %}{% endblock %}
        
    </body>
</html>