/* styles.css */
body {
    
    background-color: #1f2021;
    color: #f2e9e9;

    font-family: Roboto, sans-serif;
    font-size: 14px;
    margin: 0 50px 250px 50px; /* Adjust as needed */

}


#display-data {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Adjust as needed */
}

/* styles.css */
.container {
    position: relative; /* Required for absolute positioning */
    background-color: #141515;
    margin: 0 0 50px 20px; /* Adjust as needed */
    display: flex;
    align-items: center; /* Center items vertically */
    border-radius: 8px; /* Rounded corners for the .container */
}

.container img {
    width: 200px; /* Set your desired width */
    height: auto; /* Maintain aspect ratio */
    border: 1px solid #ccc;
    border-radius: 8px; /* Rounded corners for the .container */
    overflow: hidden; /* Ensure rounded corners are applied properly */
    transition: transform 0.3s ease-in-out,  box-shadow 0.3s ease-in-out; ; /* Add a smooth transition effect */
}

.text-container {
    background-color: #141515; /* Match the container background color */

    display: none;
    position: absolute;
    top: 108%; /* Position it below the container */
    width: 165px; /* Set your desired width */

    
    padding: 20px; /* Adjust padding as needed */
    padding-top: 7px;
    transition: height 0.3s ease-in-out;
    height: 0; /* Start with height 0 */

    border-radius: 8px; /* Rounded corners for the .container */

}

.container:hover .text-container {
    height: auto;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start of the column */
    z-index: 2; /* Set a higher z-index value */
    transform: scale(1.1); /* Increase the size on hover */
}

.container:hover .text-container p {
    margin-bottom: 1px; /* Set your desired vertical spacing */
}

.container:hover img {
    transform: scale(1.1); /* Increase the size on hover */
    box-shadow: 0 0 25px 5px rgb(0, 0, 0); /* Add a drop shadow on hover */

}

.container img:hover {
    transform: scale(1.1); /* Increase the size on hover */
    box-shadow: 0 0 25px 5px rgb(0, 0, 0); /* Add a drop shadow on hover */

}
